body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100%;
  background-color: black;
  position:fixed;
}

.page {
  background-color: black;
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
  width: 100%;
  position:fixed;
}

#header, img {
  display: flex;
  float: left;
  height: 80%;
  position: relative;
}

.logo {
  display: flex;
  float: left;
  height: 80%;
}

.column1 {
  color: lightgrey;
  top: 40%;
  left: 100px; 
  position: fixed;
  font-size: 40px;
  font-family: 'Helvetica Narrow', sans-serif;
}

.slogan {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  color: lightgrey;
  font-size: 30px;
  top: 70%;
  left: 100px; 
  position: fixed;
}


.sidebar {
  display: flex;
  float: right;
  top: 15%;
  right: 110px;  
  height: 100%;
  position: fixed;
}

.apple {
  display: flex;
  bottom: 0;
  left: 0;
  position: fixed;
  height: 100px;
  padding-left: 6.5%;
}