body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100%;
  background-color: black;
  position:fixed;
}

.page {
  background-color: black;
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
  width: 100%;
  position:fixed;
}

#header, img {
  display: flex;
  float: left;
  height: 80%;
  position: relative;
}

.logo {
  display: flex;
  float: left;
  height: 80%;
}

.column1 {
  color: lightgrey;
  top: 35%;
  left: 6%; 
  position: fixed;
  font-size: 60px;
  font-family: 'Padauk', sans-serif;
  letter-spacing: .1em;
  padding: 0%;
}

.column2 {
  color: lightgrey;
  top: 45%;
  left: 6%; 
  position: fixed;
  font-size: 60px;
  font-family: 'Padauk', sans-serif;
  letter-spacing: .1em;
  padding: 0%;
}

.column3 {
  color: lightgrey;
  top: 55%;
  left: 6%; 
  position: fixed;
  font-size: 60px;
  font-family: 'Padauk', sans-serif;
  letter-spacing: .1em;
  padding: 0%;
}

/* .slogan {
  display: flex;
  font-family: 'Text Me One', sans-serif;
  color: lightgrey;
  font-size: 30px;
  top: 86%;
  left: 450px; 
  position: fixed;
} */


.video {
  display: flex;
  float: right;
  top: 4%;
  right: 10%;  
  height: 80%;
  position: fixed;
}

.apple {
  display: flex;
  bottom: 2%;
  left: 0;
  position: fixed;
  height: 80px;
  padding-left: 5.5%;
}